@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --main-bg-color: hsl(0, 0%, 95%);
}

body {
  background-color: var(--main-bg-color);
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

h1,
button {
  font-family: "Lexend Deca", sans-serif;
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 375px) {
  body {
    background-color: var(--main-bg-color);
  }
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
}
