@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");

:root {
  --light-gray: hsl(0, 0%, 95%);
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);
  --trans-white: hsla(0, 0%, 100%, 0.75);
}

body {
  background-color: var(--light-gray);
}
.main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

p,
button {
  font-family: "Lexend Deca", sans-serif;
}

.sedan-btn {
  color: var(--bright-orange);
}

.suv-btn {
  color: var(--dark-cyan);
}

.lux-btn {
  color: var(--very-dark-cyan);
}

p {
  color: hsla(0, 0%, 100%, 0.75);
}

h1 {
  font-family: "Big Shoulders Display", cursive;
  text-transform: uppercase;
  color: var(--light-gray);
}

.sedan {
  background-color: var(--bright-orange);
}

.suv {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 375px) {
  /* body {
    background-color: var(--light-gray);
  } */
  .main {
    display: grid;
    grid-template-columns: 1fr;
  }
}
